[PATH]
# 上次同步时间的记录文件
last_job_time_path = last_job_time.json
# 原始数据文件目录
original_data_base_path = original_data
# 加密数据文件目录
encrypt_data_base_path = encrypt_data
# 加密压缩的数据包目录
data_package_base_path = data_package

[RSA]
# RSA密钥
rsa_key = your_rsa_key
# RSA私钥
private_rsa_key_path = private_rsa_key.bin

[TARGET_ES]
# 是否开启，取值true或false
es_is_open = true
# IP地址
es_host = 111.111.111.111
# 端口号
es_port = 9200
# 用户名
es_user = your_es_user
# 密码
es_password = your_es_password
# 连接超时时间（ms）
es_timeout = 60
# 单次批量插入数据量
es_step = 1000

[TARGET_MYSQL]
# 是否开启，取值true或false
mysql_is_open = true
# IP地址
mysql_host = 111.111.111.111
# 端口号
mysql_port = 3306
# 用户名
mysql_user = your_mysql_user
# 密码
mysql_password = your_mysql_password
# 数据库
mysql_db = your_mysql_db